@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LORA-REGULAR";
  src: url("../public/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MINION-PRO-REGULAR";
  src: url("../public/fonts/minion-pro/MinionPro-Regular.otf");
}

@font-face {
  font-family: "NEWSREADER-LIGHT";
  src: url("../public/fonts/newsreader/Newsreader_14pt-Light.ttf");
}


html {
  font-family: "NEWSREADER-LIGHT";
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
